<!-- Estendemos do template base -->
{% extends "website/_layouts/base.html" %}
<!-- Bloco que define o <title></title> da plataforma -->
{% block title %}BraSCCH{% endblock %}

<!-- Bloco de conteúdo da plataforma -->
{% block conteudo %}
<div>
	<div>
		<h3>BraSCCH</h3>
	</div>
	<br>
	<div>
		<p class="about">	
			The first 28 days of life – known as the neonatal period – represents the most vulnerable moment for a child’s survival and are strongly influenced by unfavorable life conditions of the population and by health care. Neonatal mortality are deaths per 1,000 live births at which babies of either less than four weeks of year of age. Mortality in this period reflects the complex conjunction of biological, socioeconomic and care factors, where the latter is mainly related to attention dedicated to the pregnant woman and the newborn. According to the World Health Organization, 4.1 million (75% of all under-five deaths) occurred within the first year of life in 2017. Globally, the infant mortality rate has decreased. Annual infant deaths have declined from 8.8 million in 1990 to 4.1 million in 2017. 
		</p>

		<p class="about">
			The main causes of neonatal deaths are congenital malformation, asphyxia during labor and perinatal infections; that is, mostly preventable deaths from health services. In Brazil, between 1999 and 2013, although the number of infant deaths declined, 70% of the deaths occurred due to preventable causes, and among the main causes, those related to adequate attention to pregnancy and delivery presented growth of about 33%.
			The reduction of neonatal mortality is extremely important because its proportion in cases of deaths up to five years continues to increase. In addition, the health interventions needed to deal with the leading causes of neonatal deaths differ from other causes.  In particular, Brazil still has worrying levels of infant mortality, despite declining rates in the last ten years.

		</p>
		<p class="about"> 
			In order to improve actions to reduce neonatal mortality in Brazil and to subsidize public policies at maternal and child health, our team have been creating the Brazilian Smart Cart for Child Health (BraSCCH) platform, which can be defined as decision-making support platform, based on information visualization techniques and machine learning.
			BraSCCH platform provides demographic, socioeconomic, maternal and child health indicators at the federal, state and municipal levels. The objective is to provide a management tool that allows both the maternal and child health situation and the context variables in which people are inserted to be known, allowing for the establishment of continuous follow-up processes (monitoring the implementation and evaluation of results). Our main proposal is to provide managers and society as a whole with useful data for the formulation of prevention policies and actions, as well as contributing to the improvement of the quality of health care and the information generated at the basic levels of care, with consequent reduction of neonatal mortality.

		</p>
		<p class="about">
			In general lines, two main services provided by BraSCCH are: (1) Cohort Data Visualization for decision-making support by comparative human visual analysis; and (2) Machine Learning Models for Prediction of risk of neonatal death. A visual analytics approaches can be a better understanding of the interactions between different factors. Complementarily, machine learning methods have great potential for this type of analysis, but are rarely used in this type of neonatal mortality study in Brazil. Thus, the application of visual analytics techniques and machine learning in this context are innovative to the Brazilian reality. With models that make such analyzes more efficient and effective, in addition to preventing neonatal deaths, it is also intended to improve the care provided to women, as there is a fragility in the integration between prenatal care and delivery care.

		</p>

	</div>
</div>

{% endblock %}
